* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.switchmode-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}


.mode-text {
  font-weight: 600;
}

.country-catalog {
  background-color: lightgrey;
  padding: 50px 100px;
}

.search-container {
  display: flex;
  gap: 10px;
  border: solid 1px black;
  max-width: 300px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.search-input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.contry-catalog {
  background-color: lightgray;
  padding: 50px 100px;
}

.flag-img {
  max-width: 200px;
  border-radius: 10px 10px 0 0;
}

.country-catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
}

/* .card-container-content {
  padding: ;
} */